.HLAYOUT__navbar-container {
	min-width: 100vw;
	min-height: 30px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.HLAYOUT__nav-items-container {
	display: flex;
	flex-direction: row;
	gap: 30px;
}



.HLAYOUT__active-link {
	text-decoration: underline;
	font-weight: bold;
	color: #161616;
}

.HLAYOUT__inactive-link {
	text-decoration: none;
	font-weight: normal;
	transition: font-weight;
	transition-duration: 0.2s;

}

.HLAYOUT__inactive-link:hover {
	text-decoration: underline;

}