nav > a {
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	color: #4D4D4D;

    display: flex;
}

nav > a:hover {
	color: #242424;

}

nav {
	display: flex;
	justify-content: right;
    align-items: center;
	gap: 20px;
}

.navbar-container-centering {
	position: static;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(255, 247, 237, 0.5);
	height: 100px;
	padding-inline: 20px;
	filter: drop-shadow(0px 5px 5px rgba(0,0,0, 0.05));
}


.navbar-container-centering > span {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-container-centering > span > h1 {
	color: black;
}

.navbar-items-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}