.FOOT__footer-styling {
	min-width: 100%;
	min-height: 100%;
	text-align: center;
	color: lightgray;
}

.FOOT__footer-container {
	position: fixed;
	bottom: 0;
	min-height: 5vh;
	min-width: 100vw;
	background-color: black;

	display: flex;
	flex-direction: column;
	justify-content: center;

}
