.vans-list-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 40px;
	row-gap: 20px;
	max-width: 90%;
	justify-self: center;
}

.vans-page-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-block: 20px;
}

.vans-list-container {
	display: flex;
	flex-direction: column;
	width: 640px;
}

/* Filtering Styling */

.VLIST__van-filter-contain {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}

.van-type {
    height: 30px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}